<div class="form-inline mr-auto">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text" class="form-control mr-2" placeholder="buscar"
    [(ngModel)]="filtroLista"
    >
    <button class="btn btn-outline-success">buscar</button>
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th class="text-center">
        <button class="btn btn-outline-primary" (click)="alternarImagem()">
          Mostrar Imagem
        </button>
      </th>
      <th>#</th>
      <th>Tema </th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imagemURL}}" alt=""
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">
        <!-- {{evento.imagemUrl}} -->
      </td>
      <td>{{evento.eventoId}}</td>
      <td>{{evento.nome}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <!-- <div *ngIf="!evento.lote.length">
          Não Informado
        </div> -->
        <!-- <div *ngIf="evento.lote.length"> -->
          {{evento.lote | uppercase}}
        <!-- </div>         -->
      </td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>  
</table>
<!-- <app-nav></app-nav>

<div *ngFor="let evento of eventos">
  Tema: {{evento.tema}}
  <br>
  Local: {{evento.local}}
  <hr>
</div> -->